/* Add basic styling for the carousel */
.carousel-container {
    overflow: hidden;
  white-space: nowrap;
  width: 100vw;
  height: 100vh;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease;
}

.carousel-slide {
    flex: 0 0 100%;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: inline-block;
}

img {
    max-width: 100%;
    height: auto;
}